@import '../../variables';

.winner {
  display: flex;
  justify-content: space-between;
  background-color: $gray;
  color: $dark-gray;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 3px;
  padding: 15px 10px;
}
